<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-primary">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-back-button nav-clear>
        <!--Back-->
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-menu">
      <!--<h1 class="title">Menu</h1>-->
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close ng-show="main.isLoggedIn()" ui-sref="app.auth.main.dash">
          <i class="icon primary ion-ios-home-outline"></i> <span translate>menu.home</span>
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.intro">
          <i class="icon primary ion-ios-information-outline"></i> <span translate>menu.intro</span>
        </ion-item>
        <ion-item class="item-icon-left"
                  menu-close
                  ng-show="main.isLoggedIn()"
                  ng-click="main.goUserProfile()">
          <i class="icon primary ion-ios-person-outline"></i> <span translate>menu.user-profile</span>
        </ion-item>
        <ion-item class="item-icon-left" menu-close ng-show="!main.isLoggedIn()" ng-click="main.login()">
          <i class="icon primary ion-log-in"></i> <span translate>menu.login</span>
        </ion-item>
        <ion-item name="logout" class="item-icon-left" menu-close ng-show="main.isLoggedIn()" ng-click="main.logout()">
          <i class="icon primary ion-ios-arrow-thin-down"></i> <span translate>menu.logout</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
