<ion-view>
  <ion-content has-header="false" has-tabs="false" padding="false" scroll="true">

    <form name="vm.form" novalidate="">

      <div class="logo-header vertical-center">
        <img ui-sref="app.intro" src="img/logo.png"/>
      </div>

      <div class="list">

        <div class="text-center">
          <span class="h3 brand-primary">{{vm.title}}</span>
        </div>

        <span class="note item item-borderless"
              translate="prompt.change-password" translate-values="{your: '{{_yr}}'}"></span>

        <label class="item item-input first-field">
          <i class="icon ion-ios-person-outline placeholder-icon field-icon"></i>
          <input name="email"
                 type="email"
                 ng-model="vm.user.userName"
                 form-field="vm.form.email"
                 placeholder="Email" translate translate-attr-placeholder="field.email"
                 required
                 ng-minlength="5"
                 ng-maxlength="50">
        </label>

        <div fus-messages="vm.form.email">
          <div ng-messages-include="js/app/util/templates/form-errors.html"></div>
        </div>

        <label class="item item-input">
          <i class="icon ion-ios-locked-outline placeholder-icon field-icon"></i>
          <input name="passwordOld"
                 type="password"
                 ng-model="vm.user.passwordOld"
                 form-field="vm.form.passwordOld"
                 placeholder="Password" translate translate-attr-placeholder="field.passwordOld"
                 required
                 ng-minlength="5">
        </label>

        <div fus-messages="vm.form.passwordOld">
          <div ng-messages-include="js/app/util/templates/form-errors.html"></div>
        </div>

        <label class="item item-input">
          <i class="icon ion-ios-locked-outline placeholder-icon field-icon"></i>
          <input name="passwordNew"
                 type="password"
                 ng-model="vm.user.passwordNew"
                 form-field="vm.form.passwordNew"
                 placeholder="New password" translate translate-attr-placeholder="field.passwordNew"
                 required
                 ng-minlength="5">
        </label>

        <div fus-messages="vm.form.passwordNew">
          <div ng-messages-include="js/app/util/templates/form-errors.html"></div>
        </div>

        <form-errors/>
      </div>

      <div class="text-center padding-top">
        <button name="login" class="button button-full button-primary" ng-click="vm.changePassword(vm.form)"
                translate>button.change-password</button>

        <!--<span class="link padding" ng-click="vm.login()" translate>link.back</span>-->
      </div>

    </form>

  </ion-content>
</ion-view>