<ion-view title="Reset password">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>

  <ion-content has-header="true" has-tabs="false" padding="false" scroll="false" ng-show="!vm.state.success">

    <form name="resetForm" novalidate="">
      <div class="list">

        <div class="item item-divider item-text-wrap">
          Reset your password
        </div>

        <label class="item item-input" ng-class=
            "{ 'has-error' : resetForm.email.$invalid && resetForm.$submitted, 'valid' : resetForm.email.$valid  && resetForm.$submitted}">
          <i class="icon ion-email placeholder-icon field-icon"></i>
          <input type="email" ng-model="vm.user.email" placeholder="Enter your email"
                 name="email"
                 required>
        </label>

        <div class="form-errors"
             ng-show="resetForm.email.$error && resetForm.$submitted"
             ng-messages="resetForm.email.$error"
             ng-messages-include="js/app/forms/form-errors.html">
        </div>
      </div>

      <div class="padding">
        <div class="assertive" ng-show="vm.error.message">{{vm.error.message}}</div>

        <div class="row">
          <button class="button button-block button-positive" ng-click="vm.reset(resetForm)">
            OK
          </button>

          <input type="button" value="Cancel" class="button button-block" ng-click="vm.login()">
        </div>
      </div>

    </form>
  </ion-content>

  <ion-content has-header="true" has-tabs="false" padding="true" scroll="false" ng-show="vm.state.success">

    <div class="padding">
      <div class="positive">An email has been sent, follow the instructions and then click on Login.</div>

      <button class="button button-block button-clear button-calm" ng-click="vm.login()">
        Login
      </button>
    </div>
  </ion-content>
</ion-view>
