<ion-view view-title="Account">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-gear-outline" ng-click="main.goUserProfile()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item>
        Logged in as: {{vm.user}}
      </ion-item>
      <ion-item>
        Logged in for: {{vm.loginDuration()}}
      </ion-item>
      <ion-toggle ng-model="vm.settings.enableFriends">
        Enable Friends
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
