<ion-view view-title="Chats">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-gear-outline" ng-click="main.goUserProfile()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <!-- "track by": http://www.codelord.net/2014/04/15/improving-ng-repeat-performance-with-track-by -->
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="chat in vm.chats track by chat.id"
                type="item-text-wrap" href="#/app/auth/main/chats/{{chat.id}}">

        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="vm.remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
