<ion-view title="Welcome">
  <ion-nav-bar class="bar-mainbar">
  </ion-nav-bar>

  <ion-content has-header="true" has-tabs="false" padding="false" scroll="false">

    <form name="loginForm" novalidate="">
      <div class="list">

        <div class="item item-divider text-wrap" ng-if="vm.showVerifyEmail">
          Check the email you have received and follow the instructions before trying to log in.
        </div>

        <div class="item item-divider item-text-wrap" ng-if="!vm.showVerifyEmail">
          Log in with your email address and password
        </div>

        <label class="item item-input" ng-class=
            "{ 'has-error' : loginForm.email.$invalid && loginForm.$submitted, 'valid' : loginForm.email.$valid  && loginForm.$submitted}">
          <i class="icon ion-email placeholder-icon field-icon"></i>
          <input type="email" placeholder="Your email address" ng-model="vm.user.username"
                 name="email"
                 ng-minlength="5"
                 ng-maxlength="50"
                 required>
        </label>

        <div class="form-errors"
             ng-show="loginForm.email.$error && loginForm.$submitted"
             ng-messages="loginForm.email.$error"
             ng-messages-include="js/app/forms/form-errors.html">
        </div>

        <label class="item item-input" ng-class=
            "{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted, 'valid' : loginForm.password.$valid  && loginForm.$submitted}">
          <i class="icon ion-locked placeholder-icon field-icon"></i>
          <input type="password" placeholder="Your password, e.g: 'password'" ng-model="vm.user.password"
                 name="password"
                 ng-model="user.password"
                 ng-minlength="5"
                 ng-maxlength="25"
                 required>
        </label>

        <div class="form-errors"
             ng-show="loginForm.password.$error && loginForm.$submitted"
             ng-messages="loginForm.password.$error"
             ng-messages-include="js/app/forms/form-errors.html">
        </div>
      </div>

      <div class="padding assertive" ng-show="vm.error.message">{{vm.error.message}}</div>

      <div class="padding">
        <button class="button button-block button-positive" ng-click="vm.login(loginForm)">
          Log in
        </button>
        <div class="button button-block button-clear button-calm" ng-click="vm.forgot()">
          Forgot password?
        </div>
        <a class="button button-block button-clear button-calm" href="#/signup">
          Register again?
        </a>
        <a class="button button-block button-clear button-calm" ng-click="vm.intro()">
          Back to the intro page
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>