<ion-view>
  <ion-content has-header="false" has-tabs="false" padding="false" scroll="true">

    <form name="vm.form" novalidate="">

      <div class="logo-header vertical-center">
        <img ui-sref="app.intro" src="img/logo.png"/>
      </div>

      <div class="list">

        <div class="text-center">
          <span class="h3 brand-primary" translate>auth.login-title</span>
        </div>

        <span class="note item item-borderless" translate="prompt.login" translate-values="{your: '{{_yr}}'}"></span>

        <label class="item item-input first-field">
          <i class="icon ion-ios-person-outline placeholder-icon field-icon"></i>
          <input name="email"
                 type="email"
                 ng-model="vm.user.username"
                 form-field="vm.form.email"
                 placeholder="Email" translate translate-attr-placeholder="field.email"
                 required
                 ng-minlength="5"
                 ng-maxlength="50">
        </label>

        <div fus-messages="vm.form.email">
          <div ng-messages-include="js/app/util/templates/form-errors.html"></div>
        </div>

        <label class="item item-input">
          <i class="icon ion-ios-locked-outline placeholder-icon field-icon"></i>
          <input name="password"
                 type="password"
                 ng-model="vm.user.password"
                 form-field="vm.form.password"
                 placeholder="Password" translate translate-attr-placeholder="field.password"
                 required
                 ng-minlength="5">
        </label>

        <div fus-messages="vm.form.password">
          <div ng-messages-include="js/app/util/templates/form-errors.html"></div>
        </div>

        <div class="item-note padding" ng-click="vm.forgot()" translate>link.forgot-password</div>

        <form-errors/>
      </div>

      <div class="text-center padding-top">
        <button name="login" class="button button-full button-primary" ng-click="vm.login(vm.form)"
                translate>button.login</button>

        <span class="note padding" translate>prompt.no-account</span><span
          class="link padding" ui-sref="signup" translate>link.signup</span>
        <br>

        <div ng-show="vm.canLoginWithTwitter()">
          <span class="note padding" translate>prompt.login-with-twitter</span>
          <button name="loginTwitter" class="button button-full button-primary" ng-click="vm.loginWithTwitter()"
                  translate>button.login-with-twitter</button>
        </div>
      </div>

    </form>

  </ion-content>
</ion-view>