/*
    Various custom styles
*/

body {
}

/* Image cropping https://github.com/iblank/ngImgCrop */
.image-crop {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-crop-result {
    height: 120px;
    text-align: center;
}

/* ==== IONIC FIXES ==== */

/*
    CSS styles to eliminate the annoying flickering header when changing tabs in an Ionic app on Android:
    http://forum.ionicframework.com/t/flickering-when-navigating-via-tabs-on-android/27281/2
*/
.platform-android .header-item.title {
    transition-duration: 0ms;
}
.platform-android .header-item.buttons {
    transition-duration: 0ms;
}
