/*
    Text styles
*/

.note {
    color: $note-color;
    font-size: 14px;
}

.link {
    color: $link-color;
    font-size: 14px;
}

.subtitle {
    font-size: large;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}
