/*
    Title bars, nav bars
*/

.brand-primary, a.brand-primary {
    color: $brand-primary;
}
.primary-bg {
    background-color: $brand-primary;
}
.primary-border {
    border-color: $button-primary-border;
}

.brand-secondary, a.brand-secondary {
    color: $brand-secondary;
}
.secondary-bg {
    background-color: $brand-secondary;
}
.secondary-border {
    border-color: $button-secondary-border;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}