/*
    Title bars, nav bars
*/

.primary, a.primary {
    color: $primary;
}
.primary-bg {
    background-color: $primary;
}
.primary-border {
    border-color: $button-primary-border;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}

.margin-top-15 {
     margin-top: 15px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}